h1 {
    text-align: left;
    background-color: rgb(3, 144, 144);
    padding: 30px;
    color: white;
    }
  
    h2 {
    color: rgb(3, 144, 144);
    text-align: left;
    font-size: 28px;
    padding-left: 45px;
    }
  
    h3 {
    color: rgb(3, 144, 144);
    }

    /*change the background color of links that are hovered over*/
    .navbar a:hover, .dropdown:hover, .dropdown-content a:hover, .dropbtn {
        background-color: darkcyan;
    }
    .nav-item.active{
        color:black;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: lightblue;
        min-width: 160px;
        z-index:1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: right;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
  
    p {
    font-size: 15px;
    color: darkslategray;
    text-align: justify;
    padding-left: 45px;
    padding-right: 45px;
    }
  
    li {
    color: darkslategray;
    padding-left: 45px;
    padding-right: 45px;
    }

    .img-thumbnail {
        width: 400px;
        float:left;
        border:none;
    }

    img {
        max-width: 90%;
    }

  /* small screen adjustments */
  @media(max-width:767px){
    .navbar.bg-light{
        background-color: lightgrey;
    }

    .navbar-collapse{
        background-color: aliceblue;
    }

    .navbar{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 40px;
    }
  }
  